<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Application Title</title>
</head>
<body>
<div th:fragment="topbar">
<!-- Top bar for authenticated users -->

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>

</div>
<!-- Main content here -->

</body>
</html>