<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Add Product</h2>
    <form id="addForm" th:action="@{/products/add}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" th:field="*{description}"required></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" th:field="*{price}" required>
            <span th:if="${priceError}" th:text="${priceError}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="stockQuantity">Stock Quantity:</label>
            <input type="number" class="form-control" id="stockQuantity" th:field="*{stockQuantity}" required>
            <span th:if="${stockQuantityError}" th:text="${stockQuantityError}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" th:field="*{category.id}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" required></option>
            </select>
        </div>
        <div class="form-group">
            <label for="supplier">Supplier:</label>
            <select class="form-control" id="supplier" th:field="*{supplier.id}">
                <option th:each="supplier : ${suppliers}" th:value="${supplier.id}" th:text="${supplier.name}" required></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" onclick="confirmAdd()">Submit</button>
    </form>
    <div class="text-right"> <!-- Aligns content to the right -->
        <a href="/products/option" class="btn btn-secondary">Return to Options</a>
    </div>
    <div class="text-right"> <!-- Aligns content to the right -->
        <a href="/products/search" class="btn btn-secondary">Go to search</a>
    </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function confirmAdd() {
        if (confirm("Are you sure you want to add this product?")) {
            document.getElementById("addForm").submit();
        }
    }
</script>

</body>
</html>
