<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Options</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Options</h2>
    <div class="row">
        <div class="col-md-4">
            <a href="/products/add" class="btn btn-primary btn-block">Go to Add Page</a>
        </div>
        <div class="col-md-4">
            <a href="/products/search-page" class="btn btn-info btn-block">Go to Search Page</a>
        </div>
        <div class="col-md-4">
            <a href="/suppliers/search-page" class="btn btn-info btn-block">Go to Search Page</a>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
