<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Suppliers</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="/fragments/topbar :: topbar"></div>
<div class="container">
    <h2>Search Suppliers</h2>
    <form th:action="@{/suppliers/search}" method="get">
        <div class="form-group">
            <label for="searchInput">Search by Name:</label>
            <input type="text" class="form-control" id="searchInput" name="name" placeholder="Enter supplier name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <h2>Search Results</h2>
    <div th:if="${suppliers != null and suppliers.empty}" class="alert alert-info" role="alert">
        No suppliers found.
    </div>

    <div th:if="${suppliers != null and not suppliers.empty}">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact Person</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="supplier : ${suppliers}">
                <td th:text="${supplier.id}"></td>
                <td th:text="${supplier.name}"></td>
                <td th:text="${supplier.contactPerson}"></td>
                <td th:text="${supplier.phone}"></td>
                <td th:text="${supplier.email}"></td>
                <td>
                    <a th:href="@{/products/search-product-by-supplier(supplierId=${supplier.id}, productName='')}" class="btn btn-primary">Select</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="text-right"> <!-- Aligns content to the right -->
        <a href="/products/option" class="btn btn-secondary">Return to Options</a>
    </div>
</div>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
